.invert {
  background-color: #000;
  color: #FFF;
  border-color: #FFF;
}

.ticBox {
  height: 20vw;
  max-height: 354px;
  text-align: center;
}

span {
  font-size: 20vw;
  pointer-events: none;
}

#clearButton {
  text-align: center;
}

#playTheGame div h1 {
  font-size: 15vw;
  text-decoration: underline;
  cursor: pointer;
}

#theGame {
  display: none;
  cursor: crosshair;
}

#instructions {
  text-align: center;
  border-radius: 10px;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.boxy {
  background-color: #FFFFDD;
  box-shadow: 0px 0px 50px #FFFFDD;
  color: #000;
}






/*lattice styling*/
.ticBox:nth-child(2) {
  border-left: 3px solid;
  border-right: 3px solid;
}
.ticBox:nth-child(4) {
  border-top: 3px solid;
  border-bottom: 3px solid;
}
.ticBox:nth-child(5) {
  border: 3px solid;
}
.ticBox:nth-child(6) {
  border-top: 3px solid;
  border-bottom: 3px solid;
}
.ticBox:nth-child(8) {
  border-left: 3px solid;
  border-right: 3px solid;
}
